/* Soluzione qui */
@media screen and (min-width: 769px) {
  #topbar {
    display: flex;
    justify-content: left;
  }

  main {
    padding: 40px;
  }

  .recipe-origin {
    display: block;
    margin: 0px 10px;
  }

  .recipe-name {
    display: flex;
  }

  .quick-notes {
    display: grid;
  }

  .btn {
    padding: 10px 50px;
  }

}