/* Soluzione qui */
@media all and (min-width: 769px) {
  #topbar {
    display: flex;
    justify-content: left;
  }

  main {
    padding: 40px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
  }

  h2 {
    font-size: 30px;
  }

  .recipe-video iframe {
    width: 100%;
  }

  .recipe-origin {
    display: block;
    margin: 0px 10px;
  }

  .recipe-name {
    display: flex;
  }

  .quick-notes {
    display: grid;
  }

  .btn {
    padding: 10px 50px;
  }

  .ads {
    display: block;
  }

  .presentation img {
    float: left;
    margin-right: 20px;
  }

}

@media all and (min-width: 993px) {
  h2 {
    font-size: 45px;
  }

  ul {
    display: block;
  }

  .recipe-video iframe {
    display: flex;
    flex-direction: column;
  }

  .btn {
    padding: 5px 40px;
    display: flex;

  }

  .social-networks .label {
    display: block;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  address {
    text-align: left;
  }
}